$fuente_principal :  "IBM Plex Sans", sans-serif;
$f_weight: 200;

// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$azul: #2307d6b0;
$negro: #000000;
$blanco: #FFFFFF;

// Media Queries
$movil: 350px;
$telefono: 400px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;