@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    padding: 0;
    text-align: center;

    .abaut_me {
        @include m.centrar;
        font-size: 2.5rem;
        font-weight: 200;
        color: v.$blanco;
        display: inline-block;
    
        &:hover{
            color: v.$rosa;
        }

        svg{
            margin-bottom: -5px;
        }
    }
}

.escenario {
    padding-top: 1rem;
    .nombre {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        color: v.$blanco;
        transition: font-size 0.7s ease-in-out;
        cursor: pointer;

        &:hover{
            font-size: 2rem;
        }
    }
}

